header {
    display: flex;
    justify-content: end;
}

header a{
    margin-right: 30px;
}

main h1{
    font-family: Helvetica;
    display: flex;
    justify-content: center;

}

main img{
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
}